@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background: #E2E2E2;
    --logo-emphasis: #0000F4;
    --call-to-action: #EF6F6C;
    --submit: #A6BA78;
    --placeholder: #4A4547;
    --text: #000;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    color: var(--text);
    background-color: var(--background);
    font-family: 'Noto Serif', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

section {
    box-sizing: border-box;
    padding: 0 0.5%;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

/* Styling for Navigation Bar */

header {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: xxx-large;
    color: var(--logo-emphasis);
}

nav {
    margin: 0;
    font-size: large;
}

nav a {
    margin: 0 10px;
}

nav a:hover {
    text-underline-offset: 6px;
    text-decoration: underline;
}

#current-page {
    color: var(--logo-emphasis);
}

hr {
    height: 2px;
    background-color: var(--placeholder);
    width: 99%;
    margin: auto;
}

.heading {
    text-align: center;
    font-size: xxx-large;
}

/* styling for Section 1 of index.html (landing page) */

#home-landing {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 0 0.5%;
}

.home-landing-left {
    width: 33%;
}

.tutor-pic {
    height: 580px;
}

.tutor-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tutor-info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.tutor-info ul li{
    font-size: x-large;
    list-style: circle inside;
    padding: 5px;
}

.vl {
    height: inherit;
    background-color: var(--placeholder);
    width: 2px;
}

.hr-for-mobile {
    display: none;
}

.home-landing-right {
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tagline {
    text-align: center;
    font-size: xxx-large;
}

.tagline span {
    color: var(--logo-emphasis);
    font-family: inherit;
}

.action-button {
    background-color: var(--call-to-action);
    margin: 0 auto;
    padding: 15px;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid black;
    border-radius: 7px;
    font-weight: 500;
    text-align: center;
}

/* Styling for Section 2 of index.html (contact) */

#home-callback {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

/* Styling for Section 3 of index.html (resources) */

#home-resources {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

/* Styling for the Footer */

footer {
    bottom: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 100%;
}

footer div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
}

i {
    font-size: xx-large;
    color: var(--logo-emphasis);
}

/* Styling for Section 1 of about.html (quote) */

#about-quote {
    margin: 10px 5px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.quote blockquote {
    font-size: xx-large;
    padding: 50px 0 100px;
}

.quote figcaption {
    margin-left: 500px;
    font-size: larger;
}

/* Styling for Section 2 of about.html (process) */

#about-process {
    margin: 50px 5px 100px;
    text-align: center;
}

#about-process h2 {
    margin-bottom: 30px;
}

/* Styling for Section 3 of about.html (travel) */

#about-travel {
    margin: 50px 5px 100px;
    height: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#about-travel div img {
    max-width: 800px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styling for Section 1 of resources.html */

#resources-intro, #resources-gcse, #resources-alevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
}

#resources-intro p, #resources-gcse div p, #resources-alevel div p {
    font-size: larger;
    text-align: center;
}

#resources-intro p {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

#resources-intro {
    min-height: 100px;
}

#resources-gcse div, #resources-alevel div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px;
}

#resources-gcse h2, #resources-alevel h2 {
    text-align: center;
}

#resources-gcse div p, #resources-alevel div p {
    max-width: 600px;
}

.screenshot {
    max-width: 400px;
}

.screenshot img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Styling for Contact page*/

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#contact-form {
    min-height: 400px;
    margin: 25px 0;
}

#contact-form p {
    margin: 0 20px;
}

#contact-form p {
    font-size: larger;
}

/* Styling for the contact form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    max-width: 900px;
    margin-right: 27px;
}

.main-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

.form-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 239px;
    width: 100%;
    margin: 0 20px;
}

.form-left-side input {
    border: 2px solid #565254 ;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.form-left-side div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-left-side div select {
    border: 2px solid #565254 ;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

#school-year {
    margin-left: -7px;
    margin-right: 7px;
}

#contact-time {
    margin-right: -7px;
    margin-left: 7px;
}

.form-right-side {
    width: 100%;
}

textarea {
    border: 2px solid #565254 ;
    border-radius: 5px;
    width: 100%;
    height: 225px;
    padding: 5px;
    margin-bottom: -5px;
    margin-right: 20px;
}

form > input {
    border: 2px solid #565254;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--submit);
    font-size: larger;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
}

select:required:invalid {
    color: var(--placeholder);
}

input:focus, textarea:focus {
    outline: none;
}

/* The following style for "::placeholder" was taken from the W3 Schools website and adapted. */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--placeholder);
    opacity: 1; /* Firefox */
}

/* Styling for Success Page*/

#success div p {
    text-align: center;
    margin: 25px 0;
    font-size: larger;
}

#success div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#success div h2 {
    margin-top: 30px;
    text-align: center;
}

/* Styling for 404 Page */

#error {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}

#error h2 {
    font-size: xx-large;
    text-align: center;
}

#error h2 {
    font-size: large;
    text-align: center;
}

#error h2 span {
    font-family: 'Montserrat', sans-serif;
    color: var(--logo-emphasis);
}

/* Media Queries */

/* Media Queries for navbar */

@media only screen and (max-width : 809px) {
    header {
        display: flex;
        flex-direction: column;
    }

    nav {
        margin: 20px 0;
    }
}

@media only screen and (max-width : 419px) {
    header {
        margin: 0 0.5%;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav a {
        font-size: 5vw;
        margin: 0;
        padding: 0 5px;
    }
}

@media only screen and (max-width : 319px) {
    nav a {
        font-size: medium;
    }
}

/* Media Queries for index.html */

@media only screen and (max-width : 1199px) {
    #home-landing {
        flex-direction: column-reverse;
        align-items: center;
    }

    #home-landing div h2 {
        padding: 40px 0;
        text-align: center;
    }

    .home-landing-right {
        width: 100%;
        margin-bottom: 80px;
    }

    .home-landing-left {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .vl {
        display: none;
    }

    .tutor-pic {
        height: 400px;
    }

    .hr-for-mobile {
        display: block;
    }
}

@media only screen and (max-width : 809px) {
    .home-landing-left {
        flex-direction: column;
    }

    .tutor-pic {
        height: 580px;
    }

    .home-landing-right .action-button {
        margin-top: 50px;
    }
}

@media only screen and (max-width : 419px) {
    .home-landing-right .action-button {
        margin-top: 0;
    }

    .action-button {
        font-size: larger;
    }

    .logo {
        font-size: 13vw;
    }

    .tagline, .heading {
        font-size: xx-large;
    }

    .tutor-info ul li {
        font-size: medium;
    }

    #home-callback, #home-resources {
        height: 300px
    }
}

/* Media Queries for about.html */

@media only screen and (max-width : 699px) {
    .quote figcaption {
        margin-left: 0;
    }
}

@media only screen and (max-width : 419px) {
    #about-travel {
        height: 700px;
    }
}

/* Media Queries for contact.html */

@media only screen and (max-width : 809px) {
    #contact-form p {
        margin-bottom: 40px;
    }

    .main-form {
        flex-direction: column;
    }

    form {
        margin-right: 0;
    }

    .form-left-side input {
        margin-bottom: 5px;
    }

    .form-right-side {
        margin-top: 5px;
    }

    .form-right-side textarea{
        margin-right: 0;
        margin-left: -8px;
        margin-top: 8px;
    }
}

/* Media Queries for resources.html */

@media only screen and (max-width : 930px) {
    #resources-gcse div, #resources-alevel div {
        flex-direction: column;
        margin-bottom: 40px;
    }

    #resources-gcse h2, #resources-alevel h2 {
        margin-bottom: 30px;
    }
}

/* Media Queries for success.html */

@media only screen and (max-width : 419px) {
    #success .action-button {
        margin-bottom: 30px;
    }
}